/* line 2, ../stylesheets/mixins/_layout.sass */
.clearfix-placeholder:after {
  content: "";
  display: table;
  clear: both;
}

@keyframes animate-rotation {
  /* line 2, ../stylesheets/movement/_animation.sass */
  from {
    transform: rotate(0deg);
  }

  /* line 4, ../stylesheets/movement/_animation.sass */
  to {
    transform: rotate(360deg);
  }
}

/* expect: 1.25em */
/* line 6, test.sass */
.test-em-default {
  font-size: 1.25em;
}

/* expect: 2em */
/* line 10, test.sass */
.test-em-context {
  padding: 2em;
}

/* expect: 1.25rem */
/* line 14, test.sass */
.test-rem-default {
  font-size: 1.25rem;
}

/* expect: 2rem */
/* line 18, test.sass */
.test-rem-context {
  padding: 2rem;
}

/* expect:
 * .clearfix-mixin:after {
 *   content: "";
 *   display: table;
 *   clear: both;
 * } */
/* line 2, ../stylesheets/mixins/_layout.sass */
.clearfix-mixin:after {
  content: "";
  display: table;
  clear: both;
}

/* expect above, but higher in the file */
/* line 35, test.sass */
.clearfix-placeholder {
  display: block;
}

/* @font-face with asset pipeline (needs sprockets yo!) */
@font-face {
  font-family: "FontName";
  font-weight: normal;
  font-style: normal;
  src: font-url("font-file.eot");
  src: font-url("font-file.eot?#iefix") format("embedded-opentype"), font-url("font-file.woff") format("woff"), font-url("font-file.ttf") format("truetype"), font-url("font-file.svg#FontName") format("svg");
}

/* @font-face without asset pipeline */
@font-face {
  font-family: "FontName";
  font-weight: normal;
  font-style: normal;
  src: url("crazy/path/font-file.eot");
  src: url("crazy/path/font-file.eot?#iefix") format("embedded-opentype"), url("crazy/path/font-file.woff") format("woff"), url("crazy/path/font-file.ttf") format("truetype"), url("crazy/path/font-file.svg#FontName") format("svg");
}

/* @font-face without asset pipeline, bold, italic */
@font-face {
  font-family: "FontName";
  font-weight: bold;
  font-style: italic;
  src: url("crazy/path/font-file.eot");
  src: url("crazy/path/font-file.eot?#iefix") format("embedded-opentype"), url("crazy/path/font-file.woff") format("woff"), url("crazy/path/font-file.ttf") format("truetype"), url("crazy/path/font-file.svg#FontName") format("svg");
}
