.clearfix-placeholder:after {
  content: "";
  display: table;
  clear: both;
}

@keyframes animate-rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* expect: 1.25em */
.test-em-default {
  font-size: 1.25em;
}

/* expect: 2em */
.test-em-context {
  padding: 2em;
}

/* expect: 1.25rem */
.test-rem-default {
  font-size: 1.25rem;
}

/* expect: 2rem */
.test-rem-context {
  padding: 2rem;
}

/* expect: 1.25 */
.test-unitless-default {
  line-height: 1.25;
}

/* expect: 2 */
.test-unitless-context {
  line-height: 2;
}

/* expect: 50% */
.test-percentage {
  width: 50%;
}

/* expect: #cc00cc */
.test-shade {
  color: #cc00cc;
}

/* expect: #cc00cc */
.test-tint {
  color: #ff33ff;
}

/* expect:
 * .clearfix-mixin:after {
 *   content: "";
 *   display: table;
 *   clear: both;
 * } */
.clearfix-mixin:after {
  content: "";
  display: table;
  clear: both;
}

/* expect above, but higher in the file */
.clearfix-placeholder {
  display: block;
}

/* @font-face with asset pipeline (needs sprockets yo!) */
@font-face {
  font-family: "FontName";
  font-weight: normal;
  font-style: normal;
  src: font-url("font-file.eot");
  src: font-url("font-file.eot?#iefix") format("embedded-opentype"), font-url("font-file.woff") format("woff"), font-url("font-file.ttf") format("truetype"), font-url("font-file.svg#FontName") format("svg");
}

/* @font-face without asset pipeline */
@font-face {
  font-family: "FontName";
  font-weight: normal;
  font-style: normal;
  src: url("crazy/path/font-file.eot");
  src: url("crazy/path/font-file.eot?#iefix") format("embedded-opentype"), url("crazy/path/font-file.woff") format("woff"), url("crazy/path/font-file.ttf") format("truetype"), url("crazy/path/font-file.svg#FontName") format("svg");
}

/* @font-face without asset pipeline, bold, italic */
@font-face {
  font-family: "FontName";
  font-weight: bold;
  font-style: italic;
  src: url("crazy/path/font-file.eot");
  src: url("crazy/path/font-file.eot?#iefix") format("embedded-opentype"), url("crazy/path/font-file.woff") format("woff"), url("crazy/path/font-file.ttf") format("truetype"), url("crazy/path/font-file.svg#FontName") format("svg");
}
